<div class="background-profile">

</div>
<div class="backround-user">
  <div class="profile-info">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-xl", alt: "profile picture" %>
    <% elsif @user == current_user %>
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag "avatar.png", class: "avatar-xl" %>
      <% end %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar-xl" %>
    <% end %>
  <h2><%=  @user.name%></h2>
   <p>
    <% @user.rating.times do %>
     â­
    <% end %>
  </p>
  <p>madrid, spain</p>
  </div>
<div class="profile-links">

  <div class= "clothes-color-2">
    <%= link_to "clothes", user_path(@user)%>
  </div>
  <div class="clothes">
    <%= link_to "likes", user_favorites_path(@user)%>
  </div>
  <% if  @user.articles%>
  <div class="likes">
    <%= link_to "reviews", user_reviews_path(@user)%>
  </div>
  <% end %>
</div>

</div>

<div class="clothing-grid">
  <% @favorites.each do |favorite| %>
    <%= link_to article_path(favorite.article) do %>
      <% if favorite.article.photos.first.nil?  %>
        <%= image_tag 'default-article.png', class: "article-photo" %>
      <% else  %>
        <%= cl_image_tag favorite.article.photos.first.key, class: "article-photo" %>
      <% end %>
    <% end %>
  <% end %>
</div>






