<div class="article-container">
  <% if article.photos.first.nil?  %>
    <div class="article-card" style="background-image: url(<%= image_path 'default-article.png' %>);">
    </div>
  <% else  %>
    <div class="article-card" style="background-image: url(<%= cl_image_path article.photos.first.key %>);">
    </div>
  <% end %>

  <div class="article-card-infos">
    <h3><%= article.name%></h3>
    <h4><%= humanized_money_with_symbol article.price %></h4>
  </div>
  <div id="action-<%= "article-#{article.id}" %>">
    <%= render "favorites/toggle_favorite_action", user: current_user, article: article %>
  </div>
  <%= link_to '', article_path(article), class: 'article-card-link' %>
</div>
