<div class="article-container">
  <!-- <div class="article-card" style="background-image:url(<%#= cl_image_path article.photo.key %>);"> -->
  <!-- </div> -->

<div class="article-card" style="background-image:url(<%= image_path 'default-article.png' %>);">
  </div>

  <div class="article-card-infos">
    <h3><%= article.name%></h3>
    <h4>$<%= article.price%></h4>
  </div>
  <% if Favorite.where(user: current_user, article: article).size != 0 %>
    <%= link_to article_favorite_path(article, Favorite.where(user: current_user, article: article)), method: :delete, class: 'article-star' do %>
      <i class="fas fa-star"></i>
    <% end %>
  <% elsif policy(Favorite).create? %>
    <%= link_to article_favorites_path(article, @favorite), method: :post, class: 'article-star' do %>
      <i class="far fa-star"></i>
    <% end %>
  <% end %>
  <%= link_to '', article_path(article), class: 'article-card-link' %>
</div>
