<div class="page-container">
  <div class="banner-index">
    <div class="header-index">
      <h1>shop</h1>
      <h1>fancier</h1>
    </div>

  </div>

  <div class="search-index">
    <%= form_tag(articles_path, method: 'get', class: "form-inline") do %>
    <div id= "search-data" class="form-search search-data" data-articles="<%= @articles.to_json %>">
      <%= text_field_tag :q_search, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search" %>
    </div>
    <% end %>
  </div>

  <div class="category-name">
    <h1>Shop All</h1>
    <p id= "viewall"><%= link_to "view all", articles_path %></p>
  </div>

  <div class="article-cards-container">
    <% @articles.each do |article| %>
    <%= render article %>
    <% end %>
  </div>



  <!-- Button trigger modal -->
  <button type="button" class="btn filter-button" data-toggle="modal" data-target="#exampleModalLong">
   <%= image_tag "icon-filter-8.png", style: "width:14px;" %>
   &nbsp; filter
 </button>

 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="border-radius: 5px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title-style" id="exampleModalLongTitle" style= "font-weight: bold;">Filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= search_form_for @q do |f| %>
      <h5 class="modal-title title-style" id="exampleModalLongTitle">Choose a Category</h5>
      <div class="modal-body">
        <section class="category">
        <%= f.select :category_name_eq,
          options_for_select(Category.all.map{|x| x.name}),
          {include_blank: "Category", class: 'filter-select'}
        %>
        </section>
      </div>
      <h5 class="modal-title title-style" id="exampleModalLongTitle">What Color?</h5>
      <div class="modal-body">
       <section class="colors">
          <%= f.select :color_eq,
          options_for_select(Article.available_colors.map{|a| [a.capitalize, a]}),
          {include_blank: "Color", class: 'filter-select'} %>
        </section>
      </div>
    <h5 class="modal-title title-style" id="exampleModalLongTitle">What Size?</h5>
    <div class="modal-body">
      <section class="size">
        <%= f.select :size_eq, options_for_select(Article.available_size.map{|a| [a.upcase, a]}), {include_blank: "Size", class: 'filter-select'} %>
      </section>

    </div>
    <h5 class="modal-title title-style" id="exampleModalLongTitle">Price</h5>
    <div class="modal-body">

      <%= f.number_field :price_money_lteq, class: "outside-view" %>
      <div class="d-flex justify-content-between">
         <p style= "font-size: 12px; color: #C97F6A; margin-right: 4px;"> $0 </p>
       <input type ="range" max="1000" min="0"
        oninput="document.getElementById('rangeValLabel').innerHTML = this.value;"
        step="1" name="rangeVal" id="money-slider" class= "slider" value="500">
        </input> <p style= "font-size: 12px; color: #C97F6A; margin-left: 4px">$1000</p>
      </div>

      <div class="d-flex justify-content-center">
      <p style= "font-size: 12px; color: #C97F6A;">$</p>
      <em id="rangeValLabel" style="font-style: normal; color: #C97F6A; display: flex; justify-content: center;">500</em>
      </div>
   </div>
   <h5 class="modal-title title-style" id="exampleModalLongTitle">Looking for a specific event?</h5>
   <div class="modal-body">
    <section>
    <%= f.select :tags_name, options_for_select(Tag.all.map(&:name)), {include_blank: "Choose an Occasion"} %>
    </section>
  </div>

  <div class="modal-footer">
<%= f.submit "search", class: "btn coral-button" %>
  </div>
  <% end %>
</div>
</div>
</div>





<!-- After executed search back to index -->

<div class=search-footer>

  <% if params[:query] %>
  <%= link_to "Back to Overview", articles_path, class: 'btn btn-primary' %>
  <% end %>
</div>
</div>






