<div class="page-container">
<div class="banner-index">
  <div class="header-index">
    <h1>shop</h1>
    <h1>fancier</h1>
  </div>

</div>



<div class="search-index">
  <%= form_tag(articles_path, method: 'get', class: "form-inline") do %>
    <div id= "search-data" class="form-search search-data" data-articles="<%= @articles.to_json %>">
      <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search" %>
    </div>
  <% end %>
</div>

<div class="category-name">
  <h1>Burning man</h1>
  <p>View all</p>
</div>

<div class="article-cards-container">
  <% @articles.each do |article| %>
   <%= link_to article_path(article) do %>
   <div class="article-index">
  <div class="article-card" style="background-image:url(<%= cl_image_path article.photo.key %>);">
  </div>
      <div class="article-card-infos">
        <h3><%= article.name%></h3>
        <h4>$<%= article.price%></h4>
      </div>
    </div>

        <% end %>
        <% end %>
</div>









<!-- After executed search back to index -->

<div class=search-footer>

  <% if params[:query] %>
  <%= link_to "Back to Overview", articles_path, class: 'btn btn-primary' %>
  <% end %>
</div>
</div>






