<% content_for :meta_title, "Buy #{@article.name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.description %>
<%# content_for :meta_image, cl_image_path(@article.photo.path) %>


<% if @article.photos.first.nil?  %>
  <%= image_tag 'default-article.png', style:"width: 100%;", data: {toggle:"modal", target: "#exampleModalCenter"}%>
<% else  %>
  <%= cl_image_tag @article.photos.first.key, style:"width: 100%;", data: {toggle:"modal", target: "#exampleModalCenter"}%>
<% end %>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content container">
      <div class="modal-body">
        <%= render (@article.photos.size == 1 ? 'article_photo' : 'article_photos') %>
      </div>
    </div>
  </div>
</div>



<div class=" info">
  <p style= "text-align: center; font-size: 12px;">Click image to view fullscreen</p>
  <%#= link_to edit_article_path do %>
  <!-- <i class="far fa-edit edit"></i> -->
  <%# end %>
  <div>
    <div class="d-flex justify-content-start" style="margin: 10px">
      <%# if user_signed_in? %>
      <%= link_to user_path(@article.user) do %>
      <% if @article.user.photo.attached? %>
        <%= cl_image_tag @article.user.photo.key, class: "avatar" %>
      <% else %>
        <%= image_tag "avatar.png", class: "avatar" %>
      <% end %>
      <% end %>
      <%# end %>
      <div class="profile-tag">
        <p class="bold"> <%= @article.user&.name %> </p>
        <!-- <p>madrid, spain</p> -->
        <p>
          <% @article.user.rating.times do %>
          ⭐
          <% end %>
        </p>
      </div>
    </div>
    <div class= "d-flex justify-content-between">
      <div>
        <h5 style= "font-weight: bold"> <%= @article.name %>
          <%= @article.category.name %></h5>
        </div>
        <p style= "font-weight: bold"> $<%= @article.price_cents %> </p>
      </div>
      <p>SIZE: <%= @article.size %> </p>
      <p> <%= @article.description&.truncate_words(15)%> </p>
      <% unless @article.user == current_user %>
      <button type="button" class="btn coral-button btn-lg" data-toggle="modal" data-target="#myModal2">
        add to cart
      </button>
      <% end %>
    </div>

    <!-- Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
           <h4 class="modal-title" id="myModalLabel2">BAG</h4>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>

         <div class="modal-body">
          <div class="d-flex">
            <% if @article.photos.first.nil?  %>
              <%= image_tag 'default-article.png', style:"width: 120px;" %>
            <% else  %>
             <%= cl_image_tag @article.photos.first.key, style:"width: 120px;" %>
            <% end %>

            <div class= "side-info">
              <h5 style= "font-weight: bold"><%= @article.name %>
                </h5>
                <p>SIZE: <%= @article.size&.upcase %></p>
                <p>$<%= @article.price_cents %></p>
              </div>
            </div>

            <hr>
            <div class="d-flex justify-content-between">
              <p>SUBTOTAL</p>
              <p>$<%= @article.price_cents %></p>
            </div>

            <%= simple_form_for @order do |f|%>
            <%= f.input :name %>
            <%= f.input :street_address %>
            <%= f.input :apartment_number %>
            <%= f.input :city %>
            <%= f.input :state_address %>
            <%= f.input :postal_code %>
            <%= f.country_select :country, {include_blank: 'Select a country'}, {class: 'form-control'}%>
            <%= f.input :article_id, :as => :hidden, :input_html => { :value => @article.id } %>
            <%= f.submit 'checkout', class: 'btn coral-button btn-lg' %>
            <% end %>

          </div>

        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

  </div><!-- container -->

  <div class="container clothes-seller change-font">
  <% unless @article.user == current_user %>
    <h2>You might also like...</h2>
      <% if @article.user.articles.count > 1 %>
        <% @article.user.articles.each do |article| %>
          <% unless article == @article %>
            <%= link_to article_path(article) do %>
              <% if @article.photos.first.nil?  %>
                <%= image_tag 'default-article.png', style:" seller-article" %>
              <% else  %>
               <%= cl_image_tag article.photos.first.key, class: "seller-article" %>
              <% end %>
            <% end %>
          <% end %>
          <% end %>
        <% else %>
        <% Article.with_tags(@article.tags.pluck(:name)).each do |article| %>
          <% unless article == @article %>
            <%= link_to article_path(article) do %>
              <% if @article.photos.first.nil?  %>
                <%= image_tag 'default-article.png', class: " seller-article" %>
              <% else  %>
                <%= cl_image_tag @article.photos.first.key, class: " seller-article" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
   <% end %>
  </div>
