<div class="background-profile">
</div>

<div class="background-user">
  <div class="profile-info">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-xl", alt: "profile picture" %>
    <% elsif @user == current_user %>
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag "avatar.png", class: "avatar-xl" %>
      <% end %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar-xl" %>
    <% end %>
    <h2><%=  @user&.name%></h2>
    <p>
      <% @user.rating.times do %>
        â­
      <% end %>
    </p>
    <p>madrid, spain</p>
  </div>
  <div class="profile-links">
    <div class="clothes">
      <%= link_to "clothes", user_path(@user), class: 'clothes' %>
    </div>

    <div class="likes">
      <%= link_to "likes", user_favorites_path(@user)%>
    </div>

    <% if  @user.articles%>
      <div class="likes">
        <%= link_to "reviews", user_reviews_path(@user)%>
      </div>
    <% end %>
  </div>
</div>

<div class="clothing-grid">
  <% @user.articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <% if article.photos.first.nil?  %>
        <%= image_tag 'default-article.png', style:"width: 100%;" %>
      <% else  %>
        <%= cl_image_tag article.photos.first.key, style:"width: 100%;" %>
      <% end %>
    <% end %>
  <% end %>
</div>







