<div id="confetti-container">
</div>
<div class="container" style= "text-align: center">
  <div class="row py-4">
    <div class="col-md-3">
      <% if @order.article.photos.first.nil?  %>
        <%= image_tag 'default-article.png', style:"width: 100%; border-radius: 5px;" %>
      <% else  %>
       <%= cl_image_tag @order.article.photos.first.key, style:"width: 100%;  border-radius: 5px;" %>
      <% end %>
    </div>
    <div class="col">
      <h2><strong>Congratulations!</strong> Order is on the way. <small><span class="badge badge-primary" style= "background-color: #5B29F6;">CONFIRMED</span></small></h2>
      <ul class="list-unstyled">
        <li><span style="font-weight: bold;">Issued On:</span> <%= @order.created_at.to_date %></li>
        <li><span style="font-weight: bold;">Clothing Item</span style="font-weight: bold;"> <%= @order.article.name %></li>
        <li><span style="font-weight: bold;">TOTAL</span style="font-weight: bold;"> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p>Estimated delivery in <span style="font-weight: bold;">2 business days</span style="font-weight: bold;"></p>
    </div>
  </div>
</div>
