
 <div class="order-wrapper">

 <h2 id="font-order"> Your order is on the way! </h2>

<div class=" order-container">



  <div class="photo-section-order">
      <% if @order.article.photos.first.nil?  %>
        <%= image_tag 'default-article.png', style:"width: 100%; border-radius: 5px;" %>
      <% else  %>
       <%= cl_image_tag @order.article.photos.first.key, style:"width: 100%;  border-radius: 5px;" %>
      <% end %>
  </div>


  <div class="info-section">

    <div class="move-p">

        <p class="badge badge-primary" style= "background-color: #210461;">CONFIRMED</p>
      </div>
        <p><span style="font-weight: bold;">Issued On: </span>Friday, March 13th, 2020</p>
        <p> <span style="font-weight: bold;">Item: </span><%= @order.article.name %> </p>
        <p> <span style="font-weight: bold;">TOTAL: </span><%= humanized_money_with_symbol @order.amount %>,00</p>

  </div>
  <%= link_to "orders", dashboard_path, class: "orderbutton", style: "font-weight: bold" %>
</div>



</div>
