<div class="home-styling">

<div class="main-container">
  <div class="main-text">
    <h1 class="hp">share the glitter, not the litter</h1>
    <p>#1 destination for unique festival outfits and costumes</p>
     <div class="sell-button margin-change">
      <%= link_to "shop all", articles_path, class: 'content-button-photo' %>
    </div>
   <!--  <p class="hp">Fancy, freaky, funky, cheeky - you name it, we have it.
    Fancier is your number one destination for festival outfits and custom-made costumes.
    From Comicon to Burning Man, time to get sassy!
    </p> -->
    <!-- <p>#1 destination to find your unique festival outfit</p> -->
    <%#= link_to " explore", articles_path, class: 'mainbutton' %>
  </div>
</div>

<!-- <div class="video-overlay"></div>
<%#= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "sparkle_video" %>
<div class="page-container"> -->


<div class="content-container-text">
  <div class="content-text change-spacing">
    <h1> <strong>got festival tickets</strong> </h1>
    <h1> <strong>but nothing to</strong></h1>
    <h1> <strong> wear?</strong></h1>
    <!-- <p>#1 destination to find your unique festival outfit</p> -->

    <div class="cta">
      <%= link_to "shop", articles_path %>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>


<div class="content-container-text add-photo">
  <div class="content-text-photo spacing-change change-spacing">
    <h1 class="hp">made a sick outfit but got nowhere to sell it?</h1>
    <!-- <p>#1 destination to find your unique festival outfit</p> -->
    <div class="sell-button">
      <%= link_to "sell on fancier", new_article_path, class: 'content-button-photo' %>
    </div>
  </div>
</div>


<div class="content-container-text">
  <div class="content-text down-spacing">
    <h1> <strong> fast fashion ain't</strong></h1>
    <h1> <strong> your thang? </strong></h1>
    <!-- <p>#1 destination to find your unique festival outfit</p> -->
    <div class="cta">
        <%= link_to "about", about_path, class: '' %>
        <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>

<div class="content-container-photo2">
  <div class="content-text-photo">
    <h6>GET INSPIRED</h6>
    <h1 class="hp">Burning Man</h1>
    <!-- <p>#1 destination to find your unique festival outfit</p> -->
    <div class="sell-button">
      <%= link_to "browse", tag_path(@tags.first), class: "content-button"%>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="text-container">
    <h1>Join the crew</h1>
    <h3> We’re a global community of movers, shakers and self-expressers who change the rules of fashion.</h3>
      <div class="sell-button-2">
        <%= link_to "sign up now", new_user_session_path, class: 'content-button-photo' %>
        </div>
      </div>
</div>

<!-- <div class="tags-container-new">
    <div class="tag-cards-new">
      <#% @tags.each do |tag| %>
      <%#= link_to tags_path(name: tag.name) do %>
        <div class="tag-image-new" style="background-image: asset-url('girls.png')">
           <p>
            <%#= tag.name.pluralize %>
           </p>
        </div>
        <%# end %>
      <#% end %>
  </div> -->




<!-- <div class="content-container-photo2">
  <div class="content-text-photo">
    <h6>GET INSPIRED</h6>
    <h1 class="hp">EDC</h1>
    <p>#1 destination to find your unique festival outfit</p>
    <div class="sell-button">
    <%#= link_to "browse", articles_path, class: "content-button"%>
    </div>
  </div>
</div> -->


<!-- <div class="content-container-photo-4">
  <div class="content-text-photo">
    <h6>Get Inspired</h6>
    <h1 class="hp">Super Hero</h1>
    <p>#1 destination to find your unique festival outfit</p>
    <%= link_to "" , new_article_path  %>
  </div>
</div> -->

<div class="tags-container">
  <div class="tag-cards">
    <% @categories.each do |cat| %>
      <%= link_to articles_path(q: {category_name_eq: cat.name}) do %>
        <div class="tag-image" style="background-image: <%= cat.photo.attached? ? "url(#{url_for(cat.photo)})"  : "asset-url('article1.jpg')" %>">
           <p>
              <%= cat.name.pluralize %>
           </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Begin Mailchimp Signup Form -->
<!-- <div class="suscribe-container">

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Montserrat,Montserrat,sans-serif; }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=6b359760679e61f790db5a0c7&amp;id=7344d352ea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2 class= "home-title">Wanna keep in touch?</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
  <label for="mce-BIRTHDAY-month">Birthday </label>
  <div class="datefield">
    <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
    <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
    <span class="small-meta nowrap">( mm / dd )</span>
  </div>
</div>  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>     real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   <!--  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6b359760679e61f790db5a0c7_7344d352ea" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #C97F6A"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
--->
