<div class="background-profile">
  <%=  link_to new_article_path do %>
  <h1>+</h1>
  <% end %>

</div>
<div class="backround-user">
  <div class="profile-info">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-xl", alt: "profile picture" %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar-xl" %>
    <% end %>
    <div class="add-margin">
    <h2>Order Dashboard</h2>
  </div>
  </div>
  <div class="dashboard-links">
    <div class="clothes listing-clothes">
      <a href="/dashboard">my purchases</a>
    </div>
      <div class="clothes">
      <a href="/listings">my listings</a>
    </div>
  </div>
</div>

<div class="order-container">
  <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sort by <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "All", listings_path, class: 'dropdown-link' %></li>
        <li class="divider"></li>
        <li><%= link_to "Pending", listings_path(state: :pending), class: 'dropdown-link' %></li>
        <li><%= link_to "Sold", listings_path(state: :paid), class: 'dropdown-link' %></li>
        <li><%= link_to "Shipped", listings_path(state: :shipped), class: 'dropdown-link' %></li>
        <li><%= link_to "Delivered", listings_path(state: :delivered), class: 'dropdown-link' %></li>
        <li><%= link_to "Cancelled", listings_path(state: :cancelled), class: 'dropdown-link' %></li>
      </ul>
    </div>

  <div class="order-section">
    <div class="orders">
      <% @listings.each do |article| %>
        <div class="d-flex border-order">
          <% if article.photos.first.nil?  %>
            <div class="order-photo" style="background-image:url(<%= image_path 'default-article.png' %>);">
            </div>
          <% else  %>
          <%= link_to article_path(article) do %>
            <div class="order-photo" style="background-image:url(<%= cl_image_path article.photos.first.key %>);">
            </div>
            <% end %>
          <% end %>
          <div class="order-info">

            <h2><%= article.name.capitalize %></h2>
            <h3>SIZE: <%= article.size %></h3>
            <h4><%= humanized_money_with_symbol article.price %></h4>
            <% if article.active_order.nil? %>
            <p class= "color-change-state">unsold</p>

            <% elsif article.active_order&.state == "paid" %>
            <% else %>
            <p><%= article.active_order&.state%></p>
            <% end %>
            <% if article.active_orders? && article.active_order&.state == 'paid' %>
            <div class="margin-button">
            <%= link_to " Mark as shipped", sellers_order_path(article.active_order), method: :patch, class: 'received' %>
            </div>

            <div class="d-flex photo-change margin-top-dash mt-20">
              <% if article.active_order.user.photo.attached? %>
                <%= cl_image_tag article.active_order.user.photo.key, class: "avatar-xsmall" %>

              <% else %>
                <%= image_tag "avatar.png", class: "avatar-xsmall" %>
              <% end %>
              <h4 class="" style= "font-weight: 400; "><%=  article.active_order.user&.name %> has purchased this item!</h4>
            </div>




            <% end %>
          </div>
        </div>
        <div class="total-section justify-content-between">
          <div class="subtotal">SUBTOTAL</div>
          <div class="price"><%= humanized_money_with_symbol article.price %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>


