<div class="container">
  <div class="row py-4">
    <div class="col-md-3">
      <% if @order.article.photos.first.nil?  %>
        <%= image_tag 'default-article.png',  width: '100%', style: "border-radius: 5px;" %>
      <% else  %>
        <%= cl_image_tag @order.article.photos.first.key,  width: '100%', style: "border-radius: 5px;" %>
      <% end %>
    </div>
    <div class="col" style="text-align: center; margin-top: 20px">
      <button id="pay" class="btn coral-button" style ="margin-top: -10px;">Purchase <%= @order.article.name %></button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
