<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= cl_image_tag @order.article.photos.first.key, width: '100%' %></div>
    <div class="col" style="text-align: center; margin-top: 20px">
      <h1 style= "font-size: 25px;">Checkout</h1>
      <p>Purchase of <strong><%= @order.article.name %></strong> </p>
       <p><strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" class="btn coral-button">Checkout</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
