<div class="background-profile">

</div>
<div class="backround-user">
  <div class="profile-info">
  <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-xl", alt: "profile picture" %>
    <% elsif @user == current_user %>
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag "avatar.png", class: "avatar-xl" %>
      <% end %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar-xl" %>
    <% end %>
  <h2><%=  @user.name%></h2>
  <p>
    <% @user.rating.times do %>
     ⭐
    <% end %>
  </p>
  <p>madrid, spain</p>

  </div>
<div class="profile-links">
  <div class="clothes clothes-color">
    <%= link_to "clothes", user_path(@user)%>
  </div>
  <div class="likes">
    <%= link_to "likes", user_favorites_path(@user)%>
  </div>
  <% if  @user.articles%>
  <div class="likes-color">
    <%= link_to "reviews", user_reviews_path(@user)%>
  </div>
  <% end %>
</div>
</div>

<div class="container mt-10 review-stars">
<% articles = Article.where user: @user %>
<% reviews = [] %>
<% articles.each do |article| %>
  <% if article.orders.size == 1 %>
    <% if article.orders.first.review %>
      <% reviews << article.orders.first.review %>
    <% end %>
  <% end %>
<% end %>

<%# if current_user.orders.active? %>


<%# end %>
<% reviews.each do |review| %>

    <h4><%=review.user.name%></h4>
    <p>
    <% review.rating.times do %>
     ⭐
    <% end %>
    </p>
  <p> <%= review.content %> </p>



<% end %>

</div>










